user        = {{ mail_db_username }}
password    = {{ mail_db_password }}
hosts       = {{ mail_db_host }}
dbname      = {{ mail_db_name }}
query       = SELECT username FROM mailbox LEFT JOIN domain ON mailbox.domain = domain.name WHERE mailbox.username='%s' AND mailbox.active=1 AND domain.active=1 AND domain.backup_mx=0
