---Set up a MUC (multi-user chat) room server on conference.example.com:
Component "conference.{{  hostname_domain }}" "muc"

-- Set up a SOCKS5 bytestream proxy for server-proxied file transfers:
Component "proxy.{{  hostname_domain }}" "proxy65"
    proxy65_address = "{{  hostname_fqdn }}"
