#!/bin/sh
#
## Set your IP address
MYIP="{{ ansible_default_ipv4.address }}"
#
## Flush rules & reset counters
iptables -F
iptables -X
#
## Set policies
iptables -P INPUT DROP
iptables -P FORWARD DROP
iptables -P OUTPUT DROP
#
## Drop all incoming fragments
iptables -A INPUT -i eth0 -f -j DROP
#
## Drop outside packets with local addresses - anti-spoofing measure
iptables -A INPUT -s $MYIP ! -i lo -j DROP
iptables -A INPUT -s 127.0.0.0/8 ! -i lo -j DROP
iptables -A INPUT -s 224.0.0.0/4 ! -i lo -j DROP
iptables -A INPUT -s 0.0.0.0/8 ! -i lo -j DROP
iptables -A INPUT -s 255.255.255.255 ! -i lo -j DROP
#iptables -A INPUT -s 10.0.0.0/8 ! -i lo -j DROP
#iptables -A INPUT -s 192.168.0.0/16 ! -i lo -j DROP
#iptables -A INPUT -s 172.16.0.0/12 ! -i lo -j DROP
#
## Pass all locally-originating packets
iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT
#
## Accept ICMP ping echo requests
## (this allows other people to ping your machine, among other things),
iptables -A INPUT -p icmp --icmp-type echo-request -j ACCEPT
#
## Accept ssh (port {{ssh_port}})
iptables -A INPUT -p tcp -m tcp --syn --dport {{ssh_port}} -j ACCEPT

#
## Accept smtp (port 25 | 587)
iptables -A INPUT -p tcp -m tcp --syn --dport 25 -j ACCEPT
iptables -A INPUT -p tcp -m tcp --syn --dport 587 -j ACCEPT
#
## Accept http and https (port 80 | 443)
iptables -A INPUT -p tcp -m tcp --syn --dport 80 -j ACCEPT
iptables -A INPUT -p tcp -m tcp --syn --dport 443 -j ACCEPT
iptables -A INPUT -p tcp -m tcp --syn --dport 10000 -j ACCEPT
#
## Accept imap and imaps (port 143 & 993)
iptables -A INPUT -p tcp -m tcp --syn --dport 143 -j ACCEPT
iptables -A INPUT -p tcp -m tcp --syn --dport 993 -j ACCEPT
#
## Accept XMPP (ports 5222 & 5269)
{% if xmpp != 1%}#{% endif %}iptables -A INPUT -p tcp -m tcp --syn --dport 5222 -j ACCEPT
{% if xmpp != 1%}#{% endif %}iptables -A INPUT -p tcp -m tcp --syn --dport 5269 -j ACCEPT
#
## Allow inbound established and related outside communication
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT
#
## Drop outside initiated connections
iptables -A INPUT -m state --state NEW -j REJECT
#
## Allow all outbound tcp, udp, icmp traffic with state
iptables -A OUTPUT -p tcp -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p udp -m state --state NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p icmp -m state --state NEW,ESTABLISHED,RELATED -j ACCEPT

## Save rules
#
iptables-save > /etc/iptables/rules.v4
#
echo ""
echo "Check your rules - iptables -L -n"
echo "Rules are saved to /etc/iptables/rules.v4 and will be loaded on next boot"
echo ""