# http://symfony.com/doc/current/cookbook/configuration/web_server_configuration.html
server {
    listen       {{ mail_console_port }} ssl http2;
    root         /srv/www/mailconsole/current/web;

    # SSL settings
    ssl_certificate      /etc/ssl/private/{{ hostname_fqdn }}.crt;
    ssl_certificate_key  /etc/ssl/private/{{ hostname_fqdn }}.key;

    # HSTS header
    add_header Strict-Transport-Security max-age=31536000;

    # Rewrite resources/<version>/file to /file
    rewrite ^/resources/([^\/]+)/(.*)$ /$2 permanent;

    location / {
        try_files $uri /app.php$is_args$args;
    }

    # Cache static resources
    location ~* ^.+\.(jpe?g|gif|png|ico|css|js)$ {
        expires max;
        access_log off;
    }

    # Application files
    location ~ ^/app\.php(/|$) {
        fastcgi_pass            php-fpm;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        
        include                 fastcgi_params;
        
        fastcgi_param           SCRIPT_FILENAME $document_root$fastcgi_script_name;

        internal;
    }
}
